.page-header
  %h1
    Device USN:
    %small
      = @device.usn

.row
  .span3#devices-sidebar
    %ul.nav.nav-list.bs-docs-sidenav.affix{ "data-spy" => "affix", "data-offset-top" => 130 }
      - @device.service_list.each do |service|
        %li
          %a{:href => "##{service.service_type}"}
            %i.icon-chevron-right
            = service.service_type

  .span9
    %h2
    %table.table.table-bordered.table-condensed.table-striped
      %thead
        %tr
          %td
            - unless @device.icon_list.empty?
              - @device.icon_list.each do |icon_info|
                - puts "icon info #{icon_info}"
                %img{:src => icon_info[:url]}
      %tbody
        %tr
          %td Friendly name:
          %td= @device.friendly_name

        %tr
          %td UDN:
          %td= @device.udn

        %tr
          %td Device type:
          %td= @device.device_type

        %tr
          %td Manufacturer:
          %td= @device.manufacturer

        %tr
          %td Manufacturer URL:
          %td
            %a{ href: "#{@device.manufacturer_url}" }
              = @device.manufacturer_url

        %tr
          %td Model description:
          %td= @device.model_description

        %tr
          %td Model name:
          %td= @device.model_name

        %tr
          %td Model number:
          %td= @device.model_number

        %tr
          %td Model URL:
          %td
            %a{ href: "#{@device.model_url}" }
              = @device.model_url

        %tr
          %td Serial number:
          %td= @device.serial_number

        %tr
          %td UPC:
          %td= @device.upc

        %tr
          %td Spec version
          %td= @device.spec_version

        %tr
          %td Presentation URL:
          %td
            %a{:href => @device.presentation_url}
              = @device.presentation_url

        %tr
          %td USN
          %td= @device.usn

        %tr
          %td Server
          %td= @device.server

        %tr
          %td Cache-control
          %td= @device.cache_control

        %tr
          %td Date
          %td= @device.date

        %tr
          %td Expiration
          %td= @device.expiration

        %tr
          %td Location
          %td= @device.location

        %tr
          %td Child device count
          %td= @device.device_list.size

        %tr
          %td Service count:
          %td= @device.service_list.size

    - unless @device.service_list.empty?
      %h2 Service Info
      - @device.service_list.each do |service|
        %table.table.table-bordered.table-condensed{:id => service.service_type }
          %tbody
            %tr
              %td Service type:
              %td
                = service.service_type

            %tr
              %td Service ID:
              %td
                = service.service_id

            %tr
              %td SCPD URL:
              %td
                %a{ href: "#{service.scpd_url}" }
                  = service.scpd_url

            %tr
              %td Control URL:
              %td
                %a{ href: "#{service.control_url}" }
                  = service.control_url

            %tr
              %td Event Sub URL:
              %td
                %a{ href: "#{service.event_sub_url}" }
                  = service.event_sub_url

            %tr
              %td XMLNS:
              %td
                = service.xmlns

            %tr
              %td Spec version:
              %td
                = service.spec_version

            %tr
              %td Service actions:
              %td
                - service.action_list.each do |action|
                  %table.table.table-bordered.table-condensed.table-striped
                    %thead
                      %caption
                        %h4= action[:name]

                    %tbody
                      %tr
                        %th Name
                        %th Direction
                        %th Related state variable

                      - args = action[:argumentList][:argument]
                      - if args.is_a? Array
                        - args.each do |arg|
                          %tr
                            %td= arg[:name]
                            %td= arg[:direction]
                            %td= arg[:relatedStateVariable]

                      - else
                        %tr
                          %td= args[:name]
                          %td= args[:direction]
                          %td= args[:relatedStateVariable]

                      - if (args.is_a?(Hash) && args[:direction] == "out") || (args.is_a?(Array) && args.all? { |a| a[:direction] == "out" })
                        %tr
                          %td{ colspan: 3 }
                            %a{ href: "/#{@device.usn}/#{service.service_type}/#{action[:name]}"}
                              %button.btn.btn-primary
                                Try me!

            %tr
              %td Service state table:
              %td
                %table.table.table-bordered.table-condensed.table-striped
                  %tbody
                    %tr
                      %th Name
                      %th Data type
                      %th Other

                    - service.service_state_table.sort_by { |k,v| k[:name] }.each do |state|
                      - tmp_state = state.dup
                      %tr
                        %td= tmp_state[:name]
                        %td= tmp_state[:dataType]
                        - tmp_state.delete :name
                        - tmp_state.delete :dataType
                        %td= tmp_state

    %hr

